@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

@layer base {
  body {
    @apply font-[Raleway]
  }

  li {
    @apply cursor-pointer;
    @apply list-none;
    @apply m-4
  }
}